@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,800&display=swap");
:root{
    --black-color:#000;
    --white-color:#fff;
    --red-color:#d5212e;
    --orange-color:#f18557;
    --light-white-color:#a2a2a2;
    --light-black-color:#333;
    --dark-grey-color:#444;
    --light-grey-color:#999;
    --more-light-grey:#a2a2a2;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: var(--black-color);
}
.container{
  position:relative;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  width:900px;
  height:600px;
  background:var(--white-color);
  margin:20px;
} 
.container .imgBx{
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  width:50%;
  height:100%;
  background:var(--light-white-color);
  transition: 0.3s linear;
}
.container .imgBx:before{
  content:"Nike";
  position: absolute;
  top:0px;
  left:24px;
  color:var(--black-color);
  opacity:0.2;
  font-size: 8em;
  font-weight: 800;
}
.container .imgBx img{
  position: relative;
  padding: 100px 20px 0px 20px;
  width:300px;
  transform:rotate(-30deg);
  left:-50px;
  transition:0.9s linear;
}
.container .details{
  display:flex;
  justify-content:center;
  align-items:center;
  width:50%;
  height:100%;
  box-sizing: border-box;
  padding:40px;
}
.container .details h2{
  margin:0;
  padding:0;
  font-size: 2.4em;
  line-height: 1em;
  color:var(--dark-grey-color);
}
.container .details h2 span{
  font-size:0.4em;
  text-transform: uppercase;
  letter-spacing:2px;
  color:var(--light-grey-color);
}
.container .details p{
  max-width: 85%;
  margin-left:15%;
  color:var(--light-black-color);
  font-size:15px;
  margin-bottom:36px;
}
.container .details h3{
  margin:0;
  padding:0;
  font-size: 2.5em;
  color:var(--more-light-grey);
  float: left;
}
.container .details button{
  background:var(--black-color);
  color:var(--white-color);
  border:none;
  outline:none;
  padding:15px 20px;
  margin-top:5px;
  font-size:16px;
  letter-spacing:1px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 40px;
  float:right;
}
.product-colors span{
  width:26px;
  height:26px;
  top:7px;
  margin-right:12px;
  left:10px;
  border-radius: 50%;
  position:relative;
  cursor:pointer;
  display:inline-block;
}
.black{
  background:var(--black-color);
}
.red{
  background: var(--red-color);
}
.orange{
  background: var(--orange-color);
}
.product-colors .active:after{
  content:'';
  width:36px;
  height:36px;
  border:2px solid var(--black-color);
  position:absolute;
  border-radius: 50%;
  box-sizing: border-box;
  left:-5px;
  top:-5px;
}

@media (max-width:1080px){
  .container{
    height:auto;
  }
  .container .imgBx{
    padding:40px;
    box-sizing: border-box;
    width:100% !important;
    height:auto;
    text-align: center;
    overflow: hidden;
  }
  .container .imgBx img{
    left:initial;
    max-width: 100%;
    transform:rotate(0deg);
  }
  .details{
    width:100% !important;
    height:auto;
    padding:20px;
  }
  .container .details p{
    margin-left:0;
    max-width: 100%;
  }
}

  