*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn{
    text-decoration: none;
    background-color: cornsilk;
    border-radius: 10px;
    padding: 20px 40px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
    color : black;
    font-size: 20px;
    font-weight: 1000;
    position: relative;
    overflow: hidden;
}
.btn::before{
    content:"";
    background: #413f3f55;
    width: 0;
    height: 0;
    position: absolute;
    top:var(--posY);
    left:var(--posX);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 1s,height 1s;
  
}

.btn:hover::before{
    width: 200px;
    height: 200px;

}

.btn span{
    z-index:1;
    position : relative;
}